<div>
	<h6 class="title"></h6>
	<p class="desc"></p>
	<p class="text-center mb-2">
		<span class="images">
			<a class="text-decoration-none" href="javascript:;"></a> |	<!-- i18n: marker.image (圖片) -->
		</span>
		<span class="video">
			<a class="text-decoration-none" href="javascript:;"></a> |	<!-- i18n: marker.video (影片) -->
		</span>
		<span class="edit">
			<a class="text-decoration-none" href="javascript:;"></a> |	<!-- i18n: marker.edit (編輯) -->
		</span>
		<span class="report">
			<a class="text-decoration-none" href="javascript:;"></a>	<!-- i18n: marker.report (錯誤回報) -->
		</span>
	</p>
	<div class="d-grid">
		<button type="button" class="btn btn-primary btn-sm"></button>	<!-- i18n: marker.found_toggler (已發現 / 未發現) -->
	</div>
</div>
